{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        }
        else {
            alert("该浏览器不支持获取地理位置。");
        }
    }

    function success(position) {
        // TODO: convert to gaode coordinates
        window.location.href = `sites?longitude=${position.coords.longitude}&latitude=${position.coords.latitude}`;
    }

    function error(err) {
        alert(`ERROR(${err.code}): ${err.message}`);
    }
</script>
<div>
    <button onclick="getLocation()">获取当前位置</button>
</div>
{% endblock %}
