{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div>
    <p>搜寻{{location_name}}附近{{range}}公里的窝窝</p>
    <p>总数: {{total}}</p>
    <p>当前显示第{{start+1}}个至第{{end}}个</p>
    {% for detail in details %}
        {% with sub_site = detail["subSite"] %}
        <p><a href="/site/{{ detail['siteId'] }}">名称: {{ sub_site["name"] }}</a></p>
        <p>
        {% for image in sub_site["imageList"] %}
            <a href="{{image}}"><img src="{{image}}" width="100"/></a>
        {% endfor %}
        </p>
        <p>描述: {{ sub_site["description"] }}</p>
        {% with longitude, latitude = bd09_to_gaode(sub_site["longitude"], sub_site["latitude"]) %}
        <p>地址: {{sub_site["address"]}}</p>
        <p><a href="https://uri.amap.com/marker?position={{longitude}},{{latitude}}&name={{sub_site['name']}}&src=找窝窝&coordinate=gaode&callnative=1">在高德地图中打开</a></p>
        {% endwith %}
        <p>收藏数: {{ detail["countCollect"] }}</p>
        {% endwith %}
        <hr/>
    {% endfor %}
    <p>
        {% if prev_url %}
        <a href="{{prev_url}}">上一页</a>
        {% endif %}
        {% if next_url %}
        <a href="{{next_url}}">下一页</a>
        {% endif %}
    </p>
</div>
{% endblock %}
