{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div>
    <p>搜寻附近{{range}}公里的窝窝</p>
    <p>总数: {{total}}</p>
    <p>当前显示第{{start+1}}个至第{{end}}个</p>
    {% for detail in details %}
        {% with sub_site = detail["subSite"] %}
        <p><a href="site/{{ detail['siteId'] }}">名称: {{ sub_site["name"] }}</a></p>
        <p>
        {% for image in sub_site["imageList"] %}
            <a href="{{image}}"><img src="{{image}}" width="100"/></a>
        {% endfor %}
        </p>
        <p>描述: {{ sub_site["description"] }}</p>
        <p>收藏数: {{ detail["countCollect"] }}</p>
        {% endwith %}
        <hr/>
    {% endfor %}
    <p>
        {% if prev_url %}
        <a href="{{prev_url}}">上一页</a>
        {% endif %}
        {% if next_url %}
        <a href="{{next_url}}">下一页</a>
        {% endif %}
    </p>
</div>
{% endblock %}
