{% extends "base.html" %}
{% block title %}{{ sub_site["name"] }}{% endblock %}
{% block body %}
<div>
    <p>名称: {{ sub_site["name"] }}</p>
    <p>
    {% for image in sub_site["imageList"] %}
        <a href="{{image}}"><img src="{{image}}" width="200"/></a>
    {% endfor %}
    </p>
    <p>描述: {{ sub_site["description"] }}</p>
    <p>收藏数: {{ detail["countCollect"] }}</p>
    <div>
        {% with longitude, latitude = bd09_to_gaode(sub_site["longitude"], sub_site["latitude"]) %}
        <iframe width="100%" height="500" src="https://m.amap.com/navi/?dest={{longitude}},{{latitude}}&destName={{sub_site['address']}}&hideRouteIcon=1&key=d3f5d8b3b05231fa6a11375492310e3a" frameborder="0"></iframe>
        {% endwith %}
    </div>
    <p>评论:</p>
    {% for comment in comments %}
        <p>{{comment["createTime"]}}</p>
        <p>{{comment["content"]}}</p>
        {% if "images" in comment %}
            {% for image in comment["images"] %}
                <a href="{{image}}"><img src="{{image}}" width="200"/></a>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
